In [16]:
import pandas as pd

In [29]:
df = pd.read_csv("spotify_millsongdata.csv")

In [18]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [19]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [20]:
df.shape

(57650, 4)

In [21]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [22]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [23]:
df.head(10)

,artist,song,text
0,Hank Snow,Hula Rock,Hawaii's callin' \r\nWhen I hear the rhythm o...
1,Evanescence,My Last Breath,Hold on to me love \r\nYou know I can't stay ...
2,Chaka Khan,All Night's All Right,"Ooh ooh \r\nYou're all alone \r\nWell, so am..."
3,Evanescence,Like You,"Stay alive, soft, dark and dreamless \r\nFar ..."
4,America,Old Virginia,"Hey, honey, won't you sit down \r\nAnd stop h..."
5,Louis Armstrong,You Go To My Head,You go to my head \r\nYou linger like a haunt...
6,Emmylou Harris,Child Of Mine,Although you see the world \r\nDifferent than...
7,John Legend,Open Your Eyes,I see you in the lonely place \r\nHow can you...
8,Ramones,Mental Hell,"Evil in my head, in my head, inside this priva..."
9,Keith Urban,Your The Only One,I know it's gonna take some time \r\nFor you ...

In [24]:
df['text'][0]

"Hawaii's callin'  \r\nWhen I hear the rhythm of the hula rock, hula rock  \r\n  \r\nIn the South Pacific where the trade winds blow  \r\nThey thought that the hula was a little bit slow  \r\nSo they stepped it up with a go, go, go  \r\nAnd that's where they got that rock and roll  \r\n  \r\nIn the South Pacific now, they're gettin' with it  \r\nOn the beach at Waikaki  \r\nAnd it's a lula when they try the hula  \r\nWith a rockin', rollin' beat  \r\n  \r\nTake me back where the trade winds blow  \r\nTo the land of the hula where they never get old  \r\nAnd the gooney birds dance with a go, go, go  \r\nAnd the natives join in with a rock and roll  \r\n  \r\nWith me it's a riddle how they break in the middle  \r\nAnd yet stay on the beat  \r\nBut I want to sway with 'em when I hear the rhythm  \r\nOf the rockin' hula beat  \r\n  \r\nRockin' and a-rollin' in Waikaki  \r\nRockin' and a-rollin' in Waikaki  \r\nRockin' and a-rollin' in Waikaki  \r\nRockin' and a-rollin' in Waikaki  \r\nDon't stop just let her rock  \r\n  \r\nHawaii's callin'\r\n\r\n"

In [4]:
import pandas as pd

# Safely sample up to 5000 rows; if df is not defined, read the CSV first.
try:
    df
except NameError:
    df = pd.read_csv("spotify_millsongdata.csv")

n = min(5000, len(df))
df = df.sample(n, random_state=42).reset_index(drop=True)

# Drop 'link' column if it exists (keeps behavior from earlier cell)
if 'link' in df.columns:
    df = df.drop('link', axis=1)

In [5]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [6]:
import pandas as pd

df = pd.read_csv("spotify_millsongdata.csv")   # or your actual filename
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex=True)

In [ ]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex=True)

0        look at her face, it's a wonderful face  \r an...
1        take it easy with me, please  \r touch me gent...
2        i'll never know why i had to go  \r why i had ...
3        making somebody happy is a question of give an...
4        making somebody happy is a question of give an...
                               ...
57645    irie days come on play  \r let the angels fly ...
57646    power to the workers  \r more power  \r power ...
57647    all you need  \r is something i'll believe  \r...
57648    northern star  \r am i frightened  \r where ca...
57649    come in  \r make yourself at home  \r i'm a bi...
Name: text, Length: 57650, dtype: object

In [17]:
print(df.head())

  artist                   song                                        link  \
0   ABBA  Ahe's My Kind Of Girl  /a/abba/ahes+my+kind+of+girl_20598417.html
1   ABBA       Andante, Andante       /a/abba/andante+andante_20002708.html
2   ABBA         As Good As New        /a/abba/as+good+as+new_20003033.html
3   ABBA                   Bang                  /a/abba/bang_20598415.html
4   ABBA       Bang-A-Boomerang      /a/abba/bang+a+boomerang_20002668.html

                                                text
0  look at her face, it's a wonderful face  \r an...
1  take it easy with me, please  \r touch me gent...
2  i'll never know why i had to go  \r why i had ...
3  making somebody happy is a question of give an...
4  making somebody happy is a question of give an...

In [9]:
%pip install nltk
import nltk
from nltk.stem.porter import PorterStemmer

# Download required NLTK data
nltk.download('punkt')

stemmer = PorterStemmer()

def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\users\rakes\appdata\roaming\python\python311\site-packages (3.9.2)
Requirement already satisfied: click in c:\users\rakes\appdata\roaming\python\python311\site-packages (from nltk) (8.3.0)
Requirement already satisfied: joblib in c:\users\rakes\appdata\roaming\python\python311\site-packages (from nltk) (1.5.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\rakes\appdata\roaming\python\python311\site-packages (from nltk) (2025.11.3)
Requirement already satisfied: tqdm in c:\users\rakes\appdata\roaming\python\python311\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\rakes\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rakes\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [10]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [22]:
df ['text'] = df['text'].apply(lambda x: token(x))

KeyboardInterrupt:

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [37]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english', max_features=5000)
matrix = tfidvector.fit_transform(df['text'])

# Compute similarity in chunks to avoid memory issues
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

# For large datasets, compute similarities on-demand during recommendation
# Store matrix and vectorizer instead of the full similarity matrix
similarity = None  # We'll compute this on-demand in the recommendation function

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute similarity of the first song with all others (returns a 1D array)
# ensure TF-IDF matrix exists; if not, (re)create it from df['text']
if 'matrix' not in globals():
    tfidvector = TfidfVectorizer(analyzer='word', stop_words='english', max_features=5000)
    matrix = tfidvector.fit_transform(df['text'])

similar = cosine_similarity(matrix[0:1], matrix).flatten()
similar[0]

1.0000000000000002

In [36]:
df[df['song'] == 'Crying Over You']

,artist,song,link,text
9,ABBA,Crying Over You,/a/abba/crying+over+you_20177611.html,I'm waitin' for you baby \r\nI'm sitting all ...
19891,UB40,Crying Over You,/u/ub40/crying+over+you_20141696.html,Crying over you in the morning \r\nCrying ove...

In [23]:
def recommendation(song_df):
	idx = df[df['song'] == song_df].index[0]
	# Compute similarity on-demand
	distance = sorted(list(enumerate(similar)), reverse=True, key=lambda x: x[1])
	song = []
	for s_id in distance[1:5]:
		song.append(df.iloc[s_id[0]].song)
	return song

recommendation('Crying Over You')

['What Kind Of Girl',
 'The Kind Of Girl I Could Love',
 'Girl (Why You Wanna Make Me Blue)',
 'Girl']

In [24]:
import pickle
pickle.dump(similar,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))